<p>
  schedule-table works!
</p>
<div class="container">
  <table class="table table-striped table-sm">
    <caption>
      <div class="container">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
          <label class="btn btn-outline-secondary" for="btnradio1" (click)="onSelectTier(OFF_PEAK)">
            <div class="btn-container">
              <p class="btn-caption">Off Peak</p>
              <p class="btn btn-lg btn-caption" [style.backgroundColor]="OFF_PEAK_COLOR"></p>
            </div>
          </label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-secondary" for="btnradio2" (click)="onSelectTier(SHOULDER_2)">
            <div class="btn-container">
              <p class="btn-caption">Shoulder 2</p>
              <p class="btn btn-lg btn-caption" [style.backgroundColor]="SHOULDER_2_COLOR"></p>
            </div>
          </label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-secondary" for="btnradio3" (click)="onSelectTier(SHOULDER_1)">
            <div class="btn-container">
              <p class="btn-caption">Shoulder 1</p>
              <p class="btn btn-lg btn-caption" [style.backgroundColor]="SHOULDER_1_COLOR"></p>
            </div>
          </label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
          <label class="btn btn-outline-secondary" for="btnradio4" (click)="onSelectTier(PEAK)">
            <div class="btn-container">
              <p class="btn-caption">Peak</p>
              <p class="btn btn-lg btn-caption" [style.backgroundColor]="PEAK_COLOR"></p>
            </div>
          </label>
        </div>
      </div>
    </caption>
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" colspan="5"></th>
      <th scope="col" colspan="6">6 am</th>
      <th scope="col" colspan="6">noon</th>
      <th scope="col" colspan="6">6 pm</th>
      <th scope="col" colspan="7">midnight</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Weekdays</th>
      <td *ngFor="let hour of weekdaysDisplay; let i = index" [style.backgroundColor]="hour.color" (click)="onSelectHour(WEEKDAYS, i)">
        <div>
          <ng-template #tipContent>
            <div>
              <p class="tooltip-text">{{TIER_STRING[weekdaysDisplay[i].interval.tierId]}}</p>
              <P class="tooltip-text">Start: {{weekdaysDisplay[i].interval.start}}:00 - End: {{weekdaysDisplay[i].interval.end}}:00</P>
              {{i}}:00 - {{i+1}}:00
            </div>
          </ng-template>
          <p class="cell" [ngbTooltip]="tipContent">{{hour.hour}}</p>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Saturdays</th>
      <td *ngFor="let hour of saturdaysDisplay; let i = index" [style.backgroundColor]="hour.color" (click)="onSelectHour(SATURDAYS, i)">
        <div>
          <ng-template #tipContent>
            <div>
              <p class="tooltip-text">{{TIER_STRING[saturdaysDisplay[i].interval.tierId]}}</p>
              <P class="tooltip-text">Start: {{saturdaysDisplay[i].interval.start}}:00 - End: {{saturdaysDisplay[i].interval.end}}:00</P>
              {{i}}:00 - {{i+1}}:00
            </div>
          </ng-template>
          <p class="cell" [ngbTooltip]="tipContent">{{hour.hour}}</p>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Sundays</th>
      <td *ngFor="let hour of sundaysDisplay; let i = index" [style.backgroundColor]="hour.color" (click)="onSelectHour(SUNDAYS, i)">
        <div>
          <ng-template #tipContent>
            <div>
              <p class="tooltip-text">{{TIER_STRING[sundaysDisplay[i].interval.tierId]}}</p>
              <P class="tooltip-text">Start: {{sundaysDisplay[i].interval.start}}:00 - End: {{sundaysDisplay[i].interval.end}}:00</P>
              {{i}}:00 - {{i+1}}:00
            </div>
          </ng-template>
          <p class="cell" [ngbTooltip]="tipContent">{{hour.hour}}</p>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Holidays</th>
      <td *ngFor="let hour of holidaysDisplay; let i = index" [style.backgroundColor]="hour.color" (click)="onSelectHour(HOLIDAYS, i)">
        <div>
          <ng-template #tipContent>
            <div>
              <p class="tooltip-text">{{TIER_STRING[holidaysDisplay[i].interval.tierId]}}</p>
              <P class="tooltip-text">Start: {{holidaysDisplay[i].interval.start}}:00 - End: {{holidaysDisplay[i].interval.end}}:00</P>
              {{i}}:00 - {{i+1}}:00
            </div>
          </ng-template>
          <p class="cell" [ngbTooltip]="tipContent">{{hour.hour}}</p>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
